body{
    background-color:#1D1D1D !important;
}

/**--------------------------------------
HEADER
------------------------------------*/
header{
	margin:10px;	
	padding: 20px;
}

.nav{
	height: 123px;
	text-align: center;
}
.nav-container{
	display: flex;
}
/*logo*/
.logo-container{	
	display:inline-block;
	padding: 0 16px;
	vertical-align: bottom;
}

.logo-container img{
	height: 5em;
	width: 5em;
}
/*top navigation*/
.top-nav{
	height: 37px;
	margin-top: 50px;
	text-align: left;
}

/*anchor links*/
.top-nav a{
	border-right:1px solid white;
	padding: 10px;
	text-decoration:none;
	color:#F3D424;
}

.top-nav a:hover{
	color:white;
}

.top-nav a:last-child{
	border-right:0px solid white;	
}

/**--------------------------------------
SECTIONS
------------------------------------*/
#hero-section{
	background-color:#323232;
}

#headliner{
	color:#E9DCA1;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	font-family: Cormorant, cursive;
}

#tagline{
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

#tagline p{
	font-family: Alegreya Sans, cursive;
	color:white;
	text-align: center;
	line-height: 50px;
}

/*quptes*/
#Q-wrapper{
	border-bottom: 1px solid #FFFFFF;
	margin: 0 auto;	
}

#prev-btn, #next-btn{
	color:white;
	display: inline-block;
	width: 5%;
}

#quote-container{
	display: inline-block;
	width: 88.5%;
	padding:10px;
}

.quotes{
	color:white;
	font-family: Poiret One, cursive, sans-serif;
	font-weight: 900;
	font-size:50px;
	word-wrap: break-word;
	text-transform: uppercase;
}


.share-container{
	display:inline-block;
	color:white;
	width:20%;
	margin:10px;
}

#share-facebook, #share-twitter, #share-tumblr{
	display:inline-block;
}

/*container for the share icons*/
.share-icon{
	display: inline-block;
	width:20%;
	vertical-align: top;
	padding:5px;	
	margin:10px;
}

.share-text{
	display:inline-block;
	width:43%;
	padding:1px;
	margin:10px;
}
.share-text p{
	line-height: 0.6 !important;
}

.share-text p:last-child{
	color:#D1C14F;
}
/**--------------------------------------
FOOTER
------------------------------------*/

